.form-group {
    margin-bottom: 0 !important;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-left: 15px !important;

}


.consent-form-container {
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px 40px 0px 40px;
    position: relative;
    overflow: hidden;
    transition: margin-left .5s;
    width: 11.5in;
    clear: both;
    page-break-after: always;
}

.footer {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5px;
    bottom: 0;
    margin-left: 40px;
}

.print-header {
    flex: 1;
}

.page-num {
    right: 50px;
    bottom: 20px;
    position: fixed;
}

.uhn-consent-logo {
    width: 240px
}

.ehi-consent-logo {
    width: 180px
}

.consent-form-title {
    padding: 70px 0 10px 0;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

.text-container {
    padding: 30px 30px 0px 30px;
}

.singleline-container {
    display: flex;
    flex-direction: row;
    white-space: pre-line;
}

li {
    text-align: left;
}

.singleline-heading {
    flex: 1;
    font-weight: bolder;
    padding-right: 20px;
    margin-bottom: 8px;
}

.singleline-text {
    flex: 3;
    margin-bottom: 8px;

}

.multiline-container {
    /*display: flex;*/
    white-space: pre-wrap;
}

.multiline-heading {
    font-weight: bolder;
    margin-bottom: 8px;
}

.multiline-text {
    margin-bottom: 3px;
}

p {
    text-align: left;
    margin-bottom: 0.3rem !important;
}

li {
    margin-bottom: 0.3rem !important;
}


.consent-back-button {
    float: left;
}

.tablePadding {
    padding-top: 0;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .footer {
        position: fixed;
    }

}

@page
{
    size: auto;
    padding-top: 10px;
    margin: 10mm 2mm 5mm 2mm;
}