.form-label {
    font-weight: 700;
    text-align: left;
}

.forms-container {
    padding: 20px;
}

.form-group {
    padding-bottom: 15px;
}

.btn {
    margin: 10px !important;
}

.consent-form-container {
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 40px 50px 40px;
    position: relative;
    overflow: hidden;
    transition: margin-left .5s;
    width: 8.5in;
    height: 11in;
    clear: both;
    page-break-after: always;
}

.uhn-consent-logo {
    width: 240px
}

.ehi-consent-logo {
    width: 180px
}

.consent-form-title {
    padding-top: 70px;
    font-size: 0.95em;
    font-weight: 700;
}

.text-container {
    padding: 30px;
}

.singleline-container {
    display: flex;
    flex-direction: row;
}

.singleline-heading {
    flex: 1;
    font-weight: 600;
}

.singleline-text {
    flex: 3;
}

p {
    text-align: left;
}