.form-label {
    font-weight: 700;
    text-align: left;
}

.forms-container {
    padding: 20px;
}

.form-group {
    padding-bottom: 15px;
}


.btn {
    margin: 10px !important;
}

.dropdown-div {
    display: flex;
    align-items: center;
}

body {
    font-family: sans-serif;
}

.editorContainer {
    margin: 1rem 4rem;
}

.editorContainer .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fcfcfc;
}

/* Snow Theme */
.editorContainer .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.editorContainer .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.editorContainer .ql-editor {
    font-size: 1.2em;
    background: #fefefe;
}

.themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
}